:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--gray-background: #f5f5f5;
	--light-emerald: #00d1b2;
	--emerald: #00d1b2;
	--dark-emerald: #00b89c;
	--blue: #3273dc;
	--dark-blue: #276cda;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--input-fixed-size: 300px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--pure-white);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
textarea,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.form-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.form-input input,
.form-input select,
.form-input textarea {
	margin-top: 0.5rem;
	padding: 0.5rem 0.75rem;
	border-radius: 0.375rem;
	border: 1px solid #d1d5db;
	width: var(--input-fixed-size);
	font-size: 0.875rem;
}

.form-input select {
	cursor: pointer;
	appearance: none;
	height: 2.5em;
}

.form-input--select {
	display: inline-block;
	position: relative;
	width: var(--input-fixed-size);
}

.form-input--select:after {
	border: 3px solid transparent;
	border-radius: 2px;
	border-right: 0;
	border-top: 0;
	content: ' ';
	display: block;
	height: 0.5em;
	margin-top: -0.4375em;
	pointer-events: none;
	position: absolute;
	top: 56%;
	transform: rotate(-45deg);
	transform-origin: center;
	width: 0.5em;
	border-color: #3273dc;
	right: 1.125em;
	z-index: 4;
}

.form-input--select:hover:after {
	border-color: black;
}

.form-input input:hover,
.form-input select:hover,
.form-input textarea:hover {
	border: 1px solid #b5b5b5;
}

.form-input input:focus,
.form-input select:focus,
.form-input textarea:focus {
	outline-offset: -2px;
	outline: 2px solid transparent;
	border-color: var(--emerald);
	box-shadow: inset 0px 0px 1px #313131;
}

form button {
	padding: 0.5rem 1rem;
	color: white;
	background-color: var(--blue);
	border: none;
	border-radius: 0.375rem;
}

form button:hover {
	background-color: var(--dark-blue);
}

form button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
